
/*/////////////////////////////////// STYLES RESET START ///////////////////////////////////*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/*/////////////////////////////////// STYLES RESET END ///////////////////////////////////*/

body {
    font-size: 26px;
    /* background-color: indianred; */
    background-image: linear-gradient(#ff6161,#ff768c);
    background-repeat: no-repeat;
    font-family: sans-serif;
    color: #0f222d;
}

/*/////////////////////////////////// TODO SECTION //////////////////////////////////////*/
.todo__title {
    font-size: 40px;
    color: white;
}

.todo__header {
    text-align: center;
    padding-top: 1%;
}

.todo__main-container {
    display: flex;
    flex-direction: column;
    padding: 0 27%;
}

.todo__addTaskContainer {
    display: flex;
    justify-content: space-between;
    padding: 0 0 4%;
}

.todo__taskListContainer {
    display: flex;
    flex-direction: column;  
    background-color: white;
    padding: 5% 10%;
}

.todo__btnClrAll {
    background-color: white;
    color: red;
    align-self: flex-end;
    margin: 2% 0 0 0;
    border: none;
    cursor: pointer;
}

.todo__btnDeleteTask {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin: 0 3% 0 0
}

.todo__btnAdd {
    width: 20%;
    font-weight: bold;
    border: none;
    background-color: white;
    color: skyblue;
    cursor: pointer;
}

.todo__taskInput {
    width: 80%;
    border: none;
    padding: 3%;
}

.todo__taskList {
    display: flex;
    flex-direction: column;  
    justify-content: space-between;
    /* align-items: flex-start; */
}

.taskCheckbox {
    transform: scale(1.7)
}

.taskItem {
    border-bottom: solid 1px skyblue;
    padding: 5% 0%;
}

.taskText {
    color: grey;
    padding: 6px 3px;
    margin: 0 0 0 3%;
}

.taskDone {
    text-decoration: line-through;
    color: red;

}
